<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookmarks</title>

    <style>
        body {
            margin-bottom: 75px;
        }

        .card {
            margin: 15px auto;
        }

        .actions {
            padding: 0;
        }

        .actions li {
            display: inline-block;
            list-style: none;
            margin: 5px 3px 0 0;
        }

        form {
            display: inline;
        }
    </style>
</head>
<body>

<main>
    <h1>Bookmarks</h1>

    <form method="post"
          th:action="@{/new}"
          sec:authorize="isAuthenticated()">
        <label for="url">Add a bookmark to my reading list</label>
        <input type="text" name="url" id="url">
        <button type="submit">Add</button>
    </form>

    <ul>
        <li sec:authorize="!isAuthenticated()">
            <a href="/login">Login</a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a href="/?showOnly=Read">Show read</a>
        </li>
    </ul>

    <p class="flashMessage error"
       th:text="${errorMessage}"
       th:if="${errorMessage}">error</p>

    <ul class="bookmarks">
        <li class="card" th:each="bookmark : ${bookmarks}">
            <a th:href="${bookmark.getUrl()}" th:text="${bookmark.getUrl()}">url</a>

            <ul class="actions"
                sec:authorize="isAuthenticated()">
                <li>
                    <form th:action="@{/{id}/markRead(id=${bookmark.getId()})}" method="post">
                        <button type="submit">Mark read</button>
                    </form>
                </li>

                <li>
                    <form th:action="@{/{id}/delete(id=${bookmark.getId()})}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</main>

</body>
</html>
