<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookmarks</title>

    <style>
        body {
            margin-bottom: 75px;
        }

        .card {
            margin: 15px auto;
        }

        .card p {
            margin: 0;
            padding: 0;
        }

        .actions {
            padding: 0;
        }

        .actions li {
            display: inline-block;
            list-style: none;
            margin: 5px 3px 0 0;
        }

        form {
            display: inline;
        }
    </style>
</head>
<body>

<main>
    <h1>Bookmarks</h1>

    <ul>
        <li sec:authorize="!isAuthenticated()">
            <a href="/login">Login</a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a href="/?showOnly=Read">Show read</a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a href="javascript: (() => {
                window.open('http://localhost:8080/new?url=' + encodeURIComponent(window.location) +
                    '&title=' + encodeURIComponent(document.title), '_blank')
            })();">Pin bookmarklet dev</a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <a href="javascript: (() => {
                window.open('https://bm.leskowsky.net/new?url=' + encodeURIComponent(window.location) +
                    '&title=' + encodeURIComponent(document.title), '_blank')
            })();">Pin bookmarklet</a>
        </li>
    </ul>

    <p class="flashMessage error"
       th:text="${errorMessage}"
       th:if="${errorMessage}">error</p>

    <ul class="bookmarks">
        <li class="card" th:each="bookmark : ${bookmarks}">
            <a th:href="${bookmark.getUrl()}" th:text="${bookmark.getTitle()} ?: ${bookmark.getUrl()}"></a>

            <p th:if="${bookmark.getDescription().length() > 0}"
               th:text="${bookmark.getDescription()}"></p>

            <ul class="actions"
                sec:authorize="isAuthenticated()">
                <li>
                    <form th:action="@{/{id}/markRead(id=${bookmark.getId()})}" method="post">
                        <button type="submit">Mark read</button>
                    </form>
                </li>

                <li>
                    <form th:action="@{/{id}/delete(id=${bookmark.getId()})}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</main>

</body>
</html>
