<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>

<main layout:fragment="content">
    <ul sec:authorize="!isAuthenticated()">
        <li>
            <a href="/login">Login</a>
        </li>
    </ul>

    <div class="m-8 w-full lg:w-1/4 mx-auto">
        <ul id="filters">
            <li>
                <a href="/?showOnly=Read">Read</a> |
                <a href="/?q=book">Books</a> |
                <a href="/?q=code">Code</a> |
                <a href="/?q=deeprockgalactic">DeepRockGalactic</a> |
                <a href="/?q=facebook">Facebook</a> |
                <a href="/?q=geerlingguy">Geerlingguy</a> |
                <a href="/?q=git">Git</a> |
                <a href="/?q=java">Java</a> |
                <a href="/?q=jenkins">Jenkins</a> |
                <a href="/?q=linux">Linux</a> |
                <a href="/?q=manga">Manga</a> |
                <a href="/?q=papers">Papers</a> |
                <a href="/?q=production">Production</a> |
                <a href="/?q=video">Videos</a>
            </li>
        </ul>
    </div>

    <p class="flashMessage error"
       th:text="${errorMessage}"
       th:if="${errorMessage}">error</p>

    <ul id="bookmarks" class="text-left">
        <li th:each="bookmark : ${bookmarks}"
            class="list-none w-full lg:w-1/2 border-slate-300 border-dotted border-2 rounded-md mx-auto p-3 mb-3">
            <!-- title, tags -->
            <div>
                <a th:href="${bookmark.getUrl()}"
                   th:text="${bookmark.getTitle()} ?: ${bookmark.getUrl()}"
                   class="text-base"></a>

                <i th:if="${!bookmark.getTags().isEmpty()}"
                   class="text-xs block">
                    <span th:text="${bookmark.getTagsAsString()}"></span>
                </i>
            </div>

            <!-- description -->
            <p th:if="${bookmark.getDescription().length() > 0}"
               th:text="${bookmark.getDescription()}"
               class="my-1"></p>

            <!-- actions -->
            <ul sec:authorize="isAuthenticated()"
                class="flex justify-center mt-3">
                <li class="inline-flex border-2 border-solid rounded px-2 mx-0.5"
                    th:if="${bookmark.isUnread()}">
                    <form th:action="@{/{id}/markRead(id=${bookmark.getId()}, q=${q})}" method="post">
                        <button type="submit" class="text-sm">Mark Read</button>
                    </form>
                </li>

                <li class="inline-flex border-2 border-solid rounded px-2 mx-0.5">
                    <a th:href="@{/{id}/edit(id=${bookmark.getId()}, q=${q})}" class="text-sm content-center">Edit</a>
                </li>

                <li class="inline-flex border-2 border-solid rounded px-2 mx-0.5">
                    <form th:action="@{/{id}/delete(id=${bookmark.getId()}, q=${q})}" method="post">
                        <button type="submit" class="text-sm">Delete</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>

</main>

</body>
</html>
